a {
    text-decoration: underline;
}

.ui.text.menu {
    margin: 0;
}

.pagination {
    // Bigger version of the pagination to display under the post content
    &--big {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

.map {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.metronome {
    .canvas {
        width: 100%;
    }
}

.metronome {
    &__slider {
        width: 100%;

        input[type="range"] {
            padding-left: 0;
            padding-right: 0;
            border: none;
        }
    }
}

table.ui.table.chart {
    border-spacing: 0 1em;
    tbody {
        tr.chart__bar-line {
            border-spacing: 5px;

            td.chart__bar {
                border-top: none;
                border-bottom: none;
            }
        }
    }

    .barline {
        &--left--light {
            border-left: 1px solid;
        }
        &--right--light {
            border-right: 1px solid;
        }
        &--left--light-light {
            border-left: 3px double;
        }
        &--right--light-light {
            border-right: 3px double;
        }
        &--right--light-heavy {
            border-right: thick double;
        }

        &--left--heavy-dotted {
            border-radius: 10px 0 0 10px;
            border-left: thick double;
        }
        &--right--dotted-heavy {
            border-radius: 0 10px 10px 0;
            border-right: thick double;
        }
        // This is repeat ending top line
        &--top--light {
            border-top: 1px dotted;
        }
    }
}

span.popup {
    border-bottom: 1px dotted #aaa;
}
