a {
    text-decoration: underline;
}

.main.container {
    .ui.segment {
        font-size: 1.1rem;
    }
}

.ui.text.menu {
    margin: 0;
    font-size: 1.1em;
}

.pagination {
    // Bigger version of the pagination to display under the post content
    &--big {
        font-size: 1.2em;
        line-height: 1.2em;
        margin-bottom: 3px;
    }
}

/**
 * Metronome
 */
.metronome {
    .canvas {
        width: 100%;
    }
}

.metronome {
    &__slider {
        width: 100%;

        input[type="range"] {
            padding-left: 0;
            padding-right: 0;
            border: none;
        }
    }
}

/**
 * Real Book
 */
.realbook {

    /* Chart List */
    .chart-list {
        font-size: 1rem;
        .item a {
            color: black;
        }
    }

    .chart {
        .row {
            margin: 7px 0;
            padding: 0;
            .column {
                margin: 0;
                padding: 0;
            }
        }
        &__section-header {
            font-weight: 900;
            font-size: 2em;
            text-align: right;
        }
    }
}

span.popup {
    border-bottom: 1px dotted #aaa;
}
