a {
    text-decoration: underline;
}

.ui.text.menu {
    margin: 0;
}

.pagination {
    // Bigger version of the pagination to display under the post content
    &--big {
        font-size: 1.3em;
        line-height: 1.3em;
    }
}

.map {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.metronome {
    .canvas {
        width: 100%;
    }
}

.metronome {
    &__slider {
        width: 100%;
    }
}
