---
title: Список постов
---
<div class="ui small tag labels">
{% for tag in site.tags %}
    <a
        href="#{{ tag[0] | slugify }}"
        data-tag="{{ tag[0] }}"
        class="tag__selector ui label"
    >{{ tag[0] }}</a>
{% endfor %}
</div>
<div class="ui divider"></div>
<div class="ui feed site__posts">
    {% for post in site.posts %}
        <div class="event" data-tags="{{ post.tags | join: ','}}">
            <div class="content">
                <a href="{{ post.url }}">{{post.title}}</a>
                <span class="date">
                    {% assign m = post.date | date: "%-m" %}
                    {{ post.date | date: "%-d" }}
                    {% case m %}
                        {% when '1' %}Января
                        {% when '2' %}Февраля
                        {% when '3' %}Марта
                        {% when '4' %}Апреля
                        {% when '5' %}Мая
                        {% when '6' %}Июня
                        {% when '7' %}Июля
                        {% when '8' %}Августа
                        {% when '9' %}Сентября
                        {% when '10' %}Октября
                        {% when '11' %}Ноября
                        {% when '12' %}Декабря
                    {% endcase %}
                    {{ post.date | date: "%Y" }}
                </span>
            </div>
        </div>
    {% endfor %}
</div>
