{{chat-user user=user}}
<div class="ui comments">
    <h3 class="ui dividing header">Main channel</h3>
    {{#each messages as |message|}}
        {{chat-message user=message.user body=message.body date=message.date avatar=message.avatarUrl}}
    {{/each}}
    {{#if user.authenticated}}
        <form class="ui reply form">
            <div class="field">
                {{input value=body placeholder="Type here" maxlength='500'}}
            </div>
            <input type="submit" id="send" class="ui primary button" value="Send" {{action 'send' }}>
        </form>
    {{/if}}
</div>