<div class="comment">
    <a class="avatar">
        {{small-avatar avatar=avatar}}
    </a>
    <div class="content">
        <a class="author">{{user}}</a>
        <div class="metadata">
            <span class="date">{{format-date date day="numeric" month="long" year="numeric" hour="numeric" minute="numeric"}}</span>
        </div>
        <div class="text">
            {{body}}
        </div>
    </div>
</div>