{{yield}}
<div class="ui small feed">
    <h4 class="ui header">Main channel</h4>
    {{#each messages as |message|}}
        {{chat-message name=message.name text=message.text}}
    {{/each}}
</div>
<div class="ui segment form">

    <div id="messages"></div>

    <input type="text" id="name" placeholder="Name:">

    <div id="answer" style="float:right;"></div>

    <textarea id="text" placeholder="message..."></textarea>

    <div>
        <input type="button" id="send" class="ui primary button" value="Send">
        <div id="answer_error" style="float:right;"></div>
    </div>
</div>