{{yield}}
<div class="event">
    <div class="content">
        <div class="summary">
            <a class="user">{{name}}</a>
        </div>
        <div class="extra text">
            {{text}}
        </div>
    </div>
</div>