<div class="ui basic segment">
    <div class="ui list">
        <div class="item">
            {% if page.url == "/index.html" %}
                <span class="header">Главная</span>
            {% else %}
                <a href="/" class="header">Главная</a>
            {% endif %}
        </div>
        {% for post in site.posts %}
            {% if post.url == page.url %}
                <span class="active item">{{ post.title }}</span>
            {% else %}
                <a class="item" href="{{ post.url }}">{{post.title}}</a>
            {% endif %}
        {% endfor %}
            <div class="item">
            {% if page.url == "/about.html" %}
                О блоге
            {% else %}
                <a href="/about.html">О блоге</a>
            {% endif %}
        </div>
    </div>
</div>