<div class="ui secondary vertical text menu">
    <div class="item">
        <div class="header"><a href="/">Блог</a></div>
        <div class="menu">
            {% for post in site.posts %}
                {% if post.url == page.url %}
                    <div class="active item">{{ post.title }}</div>
                {% else %}
                    <div class="item"><a href="{{ post.url }}">{{post.title}}</a></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>