<div class="ui text menu">
    <div class="item">
        {% if page.url == "/index.html" %}
        <span>Лента</span>
        {% else %}
        <a href="/">Лента</a>
        {% endif %}
    </div>
    <div class="item">
        {% if page.url == "/posts.html" %}
        <span class="header">Список постов</span>
        {% else %}
        <a href="/posts.html" class="header">Список постов</a>
        {% endif %}
    </div>
    <div class="item">
        {% if page.url == "/about.html" %}
        <span class="header">О блоге</span>
        {% else %}
        <a class="header" href="/about.html">О блоге</a>
        {% endif %}
    </div>
</div>
