a {
    text-decoration: underline;
}

.ui.text.menu {
    margin: 0;
}

.pagination {
    // Bigger version of the pagination to display under the post content
    &--big {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

.map {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.metronome {
    .canvas {
        width: 100%;
    }
}

.metronome {
    &__slider {
        width: 100%;
    }
}

.chart {
    .bar {
        .chords {
            line-height: 3em;
        }
        .chord {
            &__alter {
                font-size: 1.7em;
            }
            &__step {
                font-size: 3em;
            }
            &__kind {
                font-size: 1.2em;
            }
        }
    }

    .barline {
        &--left--light {
            border-left: 1px solid;
        }
        &--right--light {
            border-right: 1px solid;
        }
        &--left--light-light {
            border-left: 3px double;
        }
        // &--top--light {
        //     border-top: 1px dotted;
        // }
        &--right--light-light {
            border-right: 3px double;
        }
        &--left--heavy-light {
            border-left: 5px double;
        }
        &--right--light-heavy {
            border-right: 5px double;
        }
    }
}

span.popup {
    border-bottom: 1px dotted #aaa;
}
