<div class="ui secondary pointing menu">
    {{link-to 'Chat' 'chat' class="ui item"}}
    <div class="right menu">
        {{link-to 'About' 'about' class="ui item"}}
    </div>
</div>
<div class="ui basic segment">
    {{outlet}}
</div>