<div class="ui secondary pointing menu">
    {{link-to 'Chat' 'chat' class="ui item"}}
    <div class="right menu">
        <a href="/" class="ui item ember-view">Back</a>
    </div>
</div>
<div class="ui basic segment">
    {{outlet}}
</div>