---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="alagodich">

    <title>alagodich.github.io</title>

    {% include {{page.defaultcss}} %}
    {{ page.pagecss }}
</head>

<body>
<!-- Fixed navbar -->
{% include header.html %}

<!-- Begin page content -->
<div class="container">
    {{ content }}
</div>

{% include footer.html %}

<!-- JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

{{ page.pagejs }}
{% include {{page.defaultjs}} %}
</body>
</html>
