---
layout: semantic
---
<div class="ui basic segment">
    {{ content }}

    {% if paginator %}
        <!-- Pagination -->
        <div class="pagination--big">
            <span>←</span>
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">сюда</a>
            {% else %}
            сюда
            {% endif %}

            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">туда</a>
            {% else %}
            туда
            {% endif %}
            <span>→</span>
        </div>

        {% if paginator.total_pages > 1 %}
        <div class="pagination--big">
            {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
            <span>{{ page }}</span>
            {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>

