---
layout: semantic
---

<div class="ui basic segment">
    <h2 class="ui header">
        {{ page.title }}
        <div class="sub header">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
                {% when '1' %}Января
                {% when '2' %}Февраля
                {% when '3' %}Марта
                {% when '4' %}Апреля
                {% when '5' %}Мая
                {% when '6' %}Июня
                {% when '7' %}Июля
                {% when '8' %}Августа
                {% when '9' %}Сентября
                {% when '10' %}Октября
                {% when '11' %}Ноября
                {% when '12' %}Декабря
            {% endcase %}
            {{ page.date | date: "%Y" }}
        </div>
    </h2>
    {{ content }}

    <div class="ui divider"></div>
    <!-- Pagination -->
    <div class="pagination--big">
        <span>←</span>
        {% if page.next %}
        <a href="{{ page.next.url }}">сюда</a>
        {% else %}
        сюда
        {% endif %}

        {% if page.previous %}
        <a href="{{ page.previous.url }}">туда</a>
        {% else %}
        туда
        {% endif %}
        <span>→</span>
    </div>
    <a href="/posts.html">К списку постов</a>
</div>
